*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

html {
  scroll-behavior: smooth;
  overflow: visible;
  box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

header{
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 1;
	background: white;
	box-sizing: border-box;
	z-index: 2;
}

.header{
	width: 100%;
	font-family: 'Roboto', sans-serif !important;
	display: flex;

}

.logo{
	width: 30%;
	height: 70px;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-left: 15px;
}

.logo-row{
	border-radius: 7px;
	background-color: #F90F01;
	padding: 4px 8px 4px 8px;
}

.logo-row h1{
	color: white;
	letter-spacing: 0px;
}

.right-header {
	width: 70%;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
}

.right-header a{
	color: black;
	cursor: pointer;
}

.right-header li{
	list-style-type: none;
	padding: 0;
	display: inline;
	margin-left: 8px;
	margin-right: 8px;
}

.container {
	background-color: #F9F9F9;
	width: 100%;
	padding-top: 5%;
	padding-left: 13%;
	padding-right: 13%;
	padding-bottom: 0 !important;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.img-margin{
	width: 100%;
	padding-top: 80px;
}

.image {
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	background-image: url('/static/images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-top: 60px;
	font-family: 'Poppins', sans-serif;
}

.image h2{
	color: white;
}

.header2 {
	text-align: center;
}

.bars-icon {
  display: inline-block;
}

.icon-bar1, .icon-bar2, .icon-bar3 {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.change .icon-bar1 {
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .icon-bar2 {
  opacity: 0;
}

.change .icon-bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.form{
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.input {
	margin-top: 5px;
	width: 70%;
	height: 25%;
	border: none;
	border-bottom: solid 1px white;
	background: transparent;
	border-radius: 0 !important;
	transition: 0.5s;
	color: white;
}

.input:focus {
	width: 85%;
	height: 35%;
}

.margin-bottom {
	margin-bottom: 10px;
}

.submit {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5px;
}

.submit-button{
	border: none;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;
	background-color: #F90F01;
	color: white;
	transition: 0.5s;
	margin: 8px;
	box-shadow: 3px 3px 12px 6px rgba(249, 15, 1, 0.4);
}

.submit-button:hover{
	background-color: #4B474C;
	box-shadow: none;
}

.separator{
	margin-top: 80px;
	margin-bottom: 80px;
}

.cards {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: flex-start;
	justify-content: top;
	margin-bottom: 50px;
}

.cards .card {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 30%;
	border-radius: 10px;
	margin: 15px;
	transition: .3s box-shadow;
}

.cards .card:hover{
	box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 40%);

}

.card-image{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-image: linear-gradient(to right, rgba(255,255,250,0.8), rgba(255, 250, 250, 0.8));
	border-radius: 10px;
}

.card-content {
	padding: 15px
}

.images {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
}

.button-area{
	width: 100%;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
}

.start-button{
	margin-top: 60px;
	margin-bottom: 60px;
	width: 200px;
	height: 50px;
	background-color: #F90F01;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
	transition: 0.5s;
	box-shadow: 3px 3px 12px 6px rgba(249, 15, 1, 0.4);
}

.start-button:hover{
	background-color: #4B474C;
	box-shadow: none;
}

.tutorial{
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0 0 0;
}

.block {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 12px;
}

.number1{
	border-radius: 50%;
	background-color: rgba(0,60,255,0.3);
	display: table;
	text-align: center;
	width: 80px;
	height: 80px;
	color: rgba(0,60,255,0.9);
	margin-right: 20px;
}

.number2{
	border-radius: 50%;
	background-color: rgba(255,0,0,0.3);
	display: table;
	text-align: center;
	width: 80px;
	height: 80px;
	color: rgba(255,00,0,0.8);
	margin-right: 20px;
}

.number3{
	border-radius: 50%;
	background-color: rgba(0,255,80,0.3);
	display: table;
	text-align: center;
	width: 80px;
	height: 80px;
	color: rgba(0,255,80,0.8);
	margin-right: 20px;
}

.block-content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.block-content p{
	font-size: 13px;
}

.h1center h1{
	margin-top: 18px;
}

footer{
	display: flex;
	background-color: #F9F9F9;
	align-items: center;
	flex-direction: column;
	height: 80px;
	font-family: 'Roboto', sans-serif !important;
	width: 100%;
}

.space{
	width: 100%;
	height: 40px;
	background-color: #F9F9F9;
}

footer span{
	margin-left: 25px;
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
}

footer span img{
	margin-top: 2px;
	margin-left: 5px;
	zoom: 80%;
}

/* contact page styles */

.contact-form{
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.contact-input {
	width: 30% !important;
	border: none;
	border-bottom: solid 1px black;
	background: transparent;
}

.textarea {
	resize: none;
	border: none;
	border-bottom: solid 1px black;
	background: transparent;
}

.button{
	width: 80px;
	height: 30px;
}

.direct-contact{
	width: 100%;
	margin-top: 50px;
}

.social-direct li{
	list-style-type: none;
}

.social-direct a{
	color: black;
}

.contact-video{
	margin-top: 12px;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 13px;
}

.video-download{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.preview{
	width: 30%;
	border-radius: 10px;
	border: solid 2px white;
	margin-bottom: 13px;
}

.download-button{
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	background-color: #2BA746;
	box-shadow: 3px 3px 12px 6px rgba(43,167,70, 0.4);
	transition: 0.3s;
	color: #FFF;
	margin-right: 25px;
}

.download-button:hover{
	background-color: #4B474C;
	box-shadow: none;
}

.another-button{
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
	background-color: #F90F01;
	box-shadow: 3px 3px 12px 6px rgba(249,15,1, 0.4);
	transition: 0.3s
}

.another-button:hover{
	background-color: #4B474C;
	box-shadow: none;
}

.download-button img{
	width: 17px;
	margin-right: 5px;
}
.another-button img{
	width: 17px;
	margin-right: 5px;
}

.error {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.error h1{
	font-size: 3.1em;
	margin-bottom: 13px;
}

.loading{
	display: none;
	align-content: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.loading img{
	width: 150px;
}

.loading h1{
	color: white;
	font-size: 43px;
}

/* smartphone adaptivity */

@media screen and (max-width: 640px) {
	@keyframes animatenavbar {
    	from {top:-300px; opacity: 0}
    	to {top: 0; opacity: 1}
  	}

  	@-webkit-keyframes animatenavbar {
   		from {top:-300px; opacity:0} 
    	to {top:0; opacity:1}
  	}

	.menu-button {
   	 	float: right;
   	 	width: 15%;
 	}

 	.header {
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		align-content: center;

 	}

 	.mobile-right {
   		width: 100%;
    	display: none !important;
    	-webkit-animation-name: animatetop;
    	-webkit-animation-duration: 0.5s;
    	animation-name: animatetop;
    	animation-duration: 0.5s;
    	margin: 0 !important;
    	background-color: white;
    	display: inline;
    	padding-left: 7px;
  	}

  	.mobile-right li{
  		margin-left: 25px;
  		list-style-type: none;
  		margin: 10px;
  		padding: 6px;

  	}

  	.mobile-visible{
  		display: flex !important;
  	}

  	.mobile-right a{
  		color: black;
  		text-decoration: none;
  	}

  	.right-header{
  		display: none;
  	}

	.card {
		width: 88%;
	}

	.cards{
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	.form input{
		margin: 10px;
	}

	.info {
		display: none;
	}

	.container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.tutorial {
		width: 80%;
		margin-left: 8.5% !important;
		flex-direction: column;
	}

	.block {
		width: 100%;
	}

	footer {
		margin-top: 20px;
		width: 90%;
		zoom: 90%;
	}

	iframe {
		display: none;
	}

	.direct-contact h2{
		margin-left: 20px;
	}

	.contact-form{
		margin-top: 70px;
		margin-left: 20px;
	}

	.social-direct{
		margin-left: 20px;
	}

	.social-direct li{
		width: 50%;
	}

	.textarea{
		width: 80%;
	}

	.preview{
		width: 90%;
	}

	.another-button h3 {
		font-size: 0.9em;
	}

	.download-button h3 {
		font-size: 0.9em;
	}

	.another-button img {
		width: 16px;
	}

	.download-button img {
		width: 16px;
	}

	.error h1{
		font-size: 2.1em;
		margin-bottom: 13px;
	}

	.error{
		text-align: center;
	}
}

/* to not display menu button on desktop */

@media screen and (min-width: 641px) {
  .menu-button {
    display: none;
  }

  .mobile-right{
  	display: none;
  }
}

/* Most popular monitor resolutions adaptation */

@media screen and (width: 1920px) and (height: 1080px) {
  body {
    -moz-transform: scale(1.6); /* for Firefox, default 1*/
    -o-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    zoom:160%; /* For Chrome, IE, default 100%*/
  }
}

@media screen and (width: 1366px) and (height: 768px) {
  body {
    -moz-transform: scale(1.3); /* for Firefox, default 1*/
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    zoom:130%; /* For Chrome, IE, default 100%*/
  }
}

@media screen and (width: 1536px) and (height: 864px) {
  body {
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    zoom: 125%;
  }
}

@media screen and (width: 1440px) and (height: 900px) {
  body {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    zoom: 130%;
  }
}


@media screen and (width: 1280px) and (height: 1024px) {
  body {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    zoom: 130%;
  }
}

@media screen and (width: 1600px) and (height: 900px) {
  body {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    zoom: 130%;
  }
}

@media screen and (width: 2560px) and (height: 1440px) {
	body {
    	-moz-transform: scale(1.8);
    	-o-transform: scale(1.8);
    	-ms-transform: scale(1.8);
    	-webkit-transform: scale(1.8);
    	zoom: 180%;
  	}
}


