{% extends "base.html" %}
{% block container %}
{% for message in get_flashed_messages() %}
<h1>{{ message }}</h1>
{% endfor %}
<div class="contact-form">
	
	<div class="contact-content">
		<h1>Inserisci Il tuo messaggio</h1>
		<form action="/contattaci" method="post">
			<label for="name">Nome e Cognome</label>
			<input id="contact-input1" class="contact-input" type="text" name="name" value="" required="required">
			<br>
			<label for="email">Email</label>
			<input id="contact-input2" class="contact-input" type="email" name="email" value="" required="required">
			<br>
			<label for="text" style="display: block;">Messaggio</label>
			<textarea name="text" class="textarea" cols="35" rows="4" required="required"></textarea>
			<br>
			<input class="submit-button button" type="submit" value="Manda">
		</form>
	</div>
	<div class="contact-video">
		<iframe width="460" height="260" src="https://www.youtube.com/embed/6M84tqVvzlQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
</div>
<div class="line"></div>
<div class="direct-contact">
	<h2>O contattaci tramite social:</h2>
	<div class="social-direct">
		<ul>
			<li><a href="https://instagram.com/mike_0x3"> Instgram <i class="fab fa-instagram"></i></a> |</li>
			<li><a href="https://facebook.com/mike_0x3">Facebook <i class="fab fa-facebook-f"></i></a> |</li>
			<li><a href="https://api.whatsapp.com/send/?phone=%2B393483713525&text&app_absent=0"> WhatsApp <i class="fab fa-whatsapp"></i></a> |</li>
			<li><a href="mailto:telegiver1@gmail.com"> Email <i class="far fa-envelope"></i></a> |</li>
			<li><a href="https://twitter.com/mike_0x3"> Twitter <i class="fab fa-twitter"></i></a></li>
		</ul>
	</div>
</div>
{% endblock %}